<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ServiceHostApplication.MainServiceImplementation" behaviorConfiguration="MEXGET">
        
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost:8001/"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:8081/MainServiceImplementation"
                  binding="netTcpBinding"
                  bindingConfiguration="netTcpBinding_IMainService"
                  contract="ServiceContracts.IMainService"/>
      </service>
      
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding_IMainService" maxConnections="1"/>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MEXGET">
          <serviceMetadata httpGetEnabled ="true" httpGetUrl="MyAddress"/>
          
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>